* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    padding: 10px;
}

h1 {
    margin: auto;
    width: 80%;
    background: rgb(0, 0, 150);
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 50px;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

table thead {
    background: rgb(0, 0, 150);
    color: #fff;
}

table td, table th {
    padding: 5px;
}

table td, table th {
    border: 1px solid lightgray;
}